<%= form_with(model: @ic, local: true,url: choose_new_or_edit) do |form| %>
  <% if ic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ic.errors.count, "error") %> prohibited this ic from being saved:</h2>

      <ul>
      <% ic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= image_tag(@ic.image.url) if @ic.image.url %>
    <%= form.file_field :image, id: :ic_image %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :ic_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
