<h3>以下の内容で、投稿する。</h3>

<%= form_with(model: @ic, url: ics_path, local: true) do |form| %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :content %>
  

  <%= image_tag(@ic.image.url) %>
  <%= hidden_field_tag :"cache[image]",@ic.image.cache_name %>
  <p>Content:<%= @ic.content %></p>
  <br>
  <%= form.submit  "投稿する" %>
<% end %>

<%= form_with(model: @ic, url: new_ic_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる", name: 'back' %>
<% end %>